extends ./layout.jade

block body
    header.header
        ul
            li
                button #[i.fa.fa-navicon]
            li facecat

        nav.nav-right
            ul
                li
                    a(href="/logout")
                        button #[i.fa.fa-sign-out] #{t('app.ui.logout')}

    section.main.navigation-open(role="main")

        nav.navigation(role="navigator")
            ul
                li
                    button #[i.fa.fa-pencil-square-o]
                li
                    button #[i.fa.fa-envelope-o]

        section.document(role="document")
            div.container
