extends ./layout.jade
    
block style
    link(rel="stylesheet", href="css/index.css")

block body
    header.header
        nav.nav-container(role="navigation")
            ul
                li facecat

            aside.nav-right
                if message != ''
                    span= message
                form(action="", method="post")
                    input(type="email", name="email", placeholder="#{t('app.ui.email')}", required="required")
                    input(type="password", name="password", required="required")
                    button.btn.submitter= t('app.ui.login')

    section(role="main")
        div.banner
            h3
                i.fa.fa-quote-left
                = t('site.index.quote')
                i.fa.fa-quote-right

            h1= t('app.name')
            h2= t('app.subname')
            a(href="/signup")
                button= t('app.ui.signup')

        div.explanation
            h3= t('site.index.explanation.section_1.title')
            p= t('site.index.explanation.section_1.description')
            
            div.example.grid-three
                div.column
                    h3= t('site.index.explanation.example1')
                    
                    +standard_article_meow('Leeloo')
                        p Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium, cetera medium principem sed siquid auribus eius huius modi quivis infudisset ignotus, acerbum et inplacabilem et in hoc causarum titulo dissimilem sui...
                            br
                            br
                            | quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.

                div.column
                    h3= t('site.index.explanation.example2')

                    +standard_article_meow('Pixel', true)
                        p Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium, cetera medium principem sed siquid auribus eius huius modi quivis infudisset ignotus, acerbum et inplacabilem et in hoc causarum titulo dissimilem sui.
                            | quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.
                div.column
                    h3= t('site.index.explanation.example3')

                    +standard_article_uploaded_image('Leeloo', 'img/img.jpg', false, 0, 0, '<strong>Pixel</strong> : Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit?')
                        p Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium.</p>

                span.clear

            h3= t('site.index.explanation.section_2.title')
            p= t('site.index.explanation.section_2.description')
            
            div.example.grid-three
                div.column

                    h3= t('site.index.explanation.example4')
    
                    +standard_article_meow('Pixel', false, 1)
                        p Sed cautela nimia in peiores haeserat plagas, ut narrabimus postea, aemulis consarcinantibus insidias graves apud Constantium, cetera medium principem sed siquid auribus eius huius modi quivis infudisset ignotus, acerbum et inplacabilem et in hoc causarum titulo dissimilem sui...

                div.column

                    h3= t('site.index.explanation.example5')

                    +standard_article_meow('Leeloo', flase, 0, 50)
                        p quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.

                div.column

                    h3= t('site.index.explanation.example6')
                    
                    +standard_profil_card('Pixel', 'img/avatar2.jpg', 'Maser cat', 'over 9999')

                span.clear

            h3= t('site.index.explanation.section_3.title')
            p= t('site.index.explanation.section_3.description')