include ./widget.jade

doctype html
html(lang="fr")
    head
        meta(charset="utf-8")

        block title
            title= t('site.title')

        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/widget.css")
        link(rel="stylesheet", href="css/grid.css")
        link(rel="stylesheet", href="css/bootstrap.css")
        
        script(type="text/javascript", src="lib/angular/angular.min.js")
        script(type="text/javascript", src="lib/angular-animate/angular-animate.min.js")
        script(type="text/javascript", src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(type="text/javascript", src="js/main.js")

        block style

    body(ng-app="facecat")
        block body
        
        block script
            