extends ./layout.jade

block body
    header.header
        nav.nav-container(role="navigation")
            ul
                li facecat

    section.container
        div.grid-three
            section.column
            section.column(role="main")

                if message
                    p= message

                div.form-container
                    header= t('app.ui.signup')
                    section
                        form(action="", method="post")
                            label(for="username")= t('app.ui.username')
                            input#username(type="text", name="username", required="required")
                            label(for="email")= t('app.ui.email')
                            input#email(type="email", name="email", required="required")
                            label(for="password")= t('app.ui.password')
                            input#password(type="password", name="password", required="required")
                            button.submitter= t('app.ui.button.send')