mixin footer_article (share, up, down)
    footer.tool-bar
        if share
            button Share
        if up
            button
                i.fa.fa-chevron-up
                | &nbsp;#{up}
        if down
            button
                i.fa.fa-chevron-down
                | &nbsp;#{down}
        if block
            block

mixin standard_article_meow (username, share, up, down)
    article.meow
        header Meowed by #[strong #{username}]
        section.content
            if block
                block
            else
                p Meow ! Meow !! *furr, furr*
        +footer_article(share, up, down)

mixin standard_article_uploaded_image (username, image, share, up, down, other)
    article.meow
        header Uploaded by #[strong #{username}]
        section.content
            div.img-container
                img(src="#{image}")
            if block
                block
        +footer_article(share, up, down)
            != other

mixin standard_profil_card (username, picture, title, heart)
    div.card
        header
        img(src="#{picture}", role="img")
        section
            h2= username
            p= title
        span(role="presentation").clear
        footer.tool-bar
            if heart
                button
                    i.fa.fa-heart
                    | &nbsp;#{heart}