body .container{width:1170px;margin:auto;padding:50px 0 0}body .grid-three{padding:20px 0}body .grid-three .column{float:left;width:32%;min-height:10px;margin:0 .5%}body .grid-three::after{display:block;height:0;content:".";clear:both;visibility:hidden}