body {

    .container {

        width: 1170px;
        margin: auto;
        padding: 50px 0 0 0;
    }

    .grid-three {

        padding: 20px 0;

        .column {

            float: left;
            width: 32%;
            min-height: 10px;

            margin: 0 .5%
        }

        &::after {

            display: block;
            height: 0;

            content: ".";
            clear: both;
            visibility: hidden;
        }
    }
}