body {
    & > header > nav > aside {
        margin-top: 8px;

        & > form > input {
            min-width: 100px;
            padding: 8px 13px 8px 13px;
            margin-right: 5px;
            font-size: .7em;
        }

        & > form > button {
            padding: 9px 13px 9px 13px;
        }
    }

    .banner {
        padding-top: 200px;
        text-align: center;
        background: url("../img/banner.jpg") bottom center;
        background-size: cover;
        height: 500px;
        color: white;
        text-shadow: 2px 2px 1px rgba(101, 101, 101, 0.8);

        & > h1 {
            font-family: 'Pacifico', cursive;
            font-size: 5em;
            margin: 10px;
        }

        & > h2 {
            font-size: 3em;
            margin: 10px;
        }

        & > h3 {
            font-size: 2em;
            margin: 10px;
        }

        a {
            border: none;
        }

        button {
            font-size: 2em;
            background-color: #5CB85C;
            color: white;
            padding: 15px 20px 15px 20px;
            margin: 50px 0 0 0;

            &:active {
                box-shadow: inset 0 5px 0 0 rgba(101, 101, 101, 0.3);
            }
        }
    }

    .explanation {
        text-align: center;
        background-color: white;

        padding: 10px 0;

        .example {
            box-sizing: border-box;
            text-align: left;
            padding: 20px 2% 30px 2%;
            background-color: #F5F8FA;
        }

        .column {
            width: 30%;

            margin: 0 1.5%
        }
    }
}
