html {

    width: 100%;
    height: 100%;
    background-color: #F5F8FA;
    position: relative;

    body {

        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;

        color: #727272;
        font-family: 'Roboto', sans-serif;

        .header {

            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            height: 50px;

            background-color: white;
            box-shadow: 0 2px 0 rgba(101, 101, 101, .5);
            z-index: 100;

            ul {

                margin: 0;
                padding: 0;

                list-style-type: none;

                & > li {
                    float: left;
                    padding: 15px;
                }
            }

            .nav-right {
                float: right;
            }

            .nav-container {

                width: 1170px;
                margin: auto;
            }
        }

        .main {

            height: 100%;

            .navigation {

                position: absolute;
                top: 50px;
                left: 0;
                bottom: 0;

                padding: 20px 0;

                background-color: #34383C;
                color: white;
                font-size: 2em;

                ul {

                    margin: 0;
                    padding: 0;

                    list-style-type: none;

                    & > li {

                        padding: 20px;
                    }
                }
            }

            .navigation-open {

                padding-left: 62px;
            }

            .document {

                min-height: 100%;

                background-color: #FFC774;
            }
        }
    }
}