body {

    button {

        border: none;
        border-radius: 10px;
        background: none;
    }

    li {

        a {
            color: inherit;
        }

        button {

            cursor: pointer;
            font-size: 1em;
            color: inherit;
            transition: color 1s;

            &:hover {
                transition: color .3s;
                color: #FFC774;
            }
        }
    }

    form {

        button {

            background-color: transparent;
            border: solid 1px rgba(101, 101, 101, 0.1);
            border-radius: 0;
            cursor: pointer;
            font-family: inherit;
            color: inherit;
            font-size: 0.8em;
            padding: 10px 15px 10px 15px;
            margin-right: 10px;
            transition: color 1s;

            &:hover {

                transition: color .3s;
                background-color: #FFC774;
                color: white;
            }

            &:active {

                box-shadow: inset 0 2px 0 0 rgba(101, 101, 101, 0.3);
            }

            &.submitter {

                &:hover {

                    background-color: #5CB85C;
                }
            }
        }

        label {

            display: block;
            margin-bottom: 5px;
        }

        input {

            padding: 10px 15px 10px 15px;
            min-width: 200px;
            font-size: 1em;
        }

        textarea {

            padding: 10px;
            min-width: 100%;
            max-width: 100%;
            min-height: 200px;
            margin-bottom: 20px;
            box-sizing: border-box;
        }
    }

    strong {

        color: black;
    }

    .clear {

        display: block;
        clear: both;
    }

    .form-container {

        border-radius: 20px;
        background-color: white;
        box-shadow: 0 10px 0 0 rgba(101, 101, 101, 0.3);
        margin-bottom: 20px;

        & > header {
            padding: 20px;
            border-bottom: solid 1px rgba(101, 101, 101, 0.3);
        }

        & > section {
            padding: 20px;

            & > form > input {
                width: 100%;
                margin-bottom: 20px;
                box-sizing: border-box;
            }
        }
    }

    .img-container {

        max-height: 200px;
        margin-top: 20px;

        overflow: hidden;

        img {

            width: 100%;

            margin-top: -25%;
        }
    }

    .meow {

        margin-bottom: 20px;

        border-radius: 20px;
        background-color: #FFF;
        box-shadow: 0 10px 0 0 rgba(101, 101, 101, 0.3);

        & > header {

            padding: 20px 20px 0 20px;
        }

        & > .content p {

            padding: 0 20px;
        }

        & > footer {

            padding: 20px;

            border-top: 1px solid rgba(101, 101, 101, 0.3);

            button {

                cursor: pointer;
                font-size: 1em;
                color: inherit;
                transition: color 1s;

                &:hover {
                    transition: color .3s;
                    color: #FFC774;
                }
            }
        }
    }

    .card {

        box-shadow: 0 5px 0 0 rgba(101, 101, 101, 0.3);
        border-radius: 10px;
        background-color: white;
        margin-bottom: 20px;

        & > header {
            height: 50px;

            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: url("../img/pattern.jpg");
        }

        & > img {
            float: left;
            margin: -30px 0 0 10px;
            width: 80px;
            border: solid 5px white;
            border-radius: 10px;
        }

        & > section {
            float: left;
            margin: 10px 0 0 10px;

            & > h2 {
                display: inline-block;
                margin: 0;
            }

            & > p {
                margin: 0;
            }
        }

        & > footer {
            border-top: solid 1px rgba(101, 101, 101, 0.1);
            padding: 10px;
            margin-top:10px;

            button {

                cursor: pointer;
                font-size: 1em;
                color: inherit;
                transition: color 1s;

                &:hover {
                    transition: color .3s;
                    color: #FFC774;
                }
            }
        }
    }
}