<div class="modal-header">
    <h3 class="modal-title">Meow somethig yeah !</h3>
</div>
<div class="modal-body">
    <form>
        <textarea ng-model="something"></textarea>
        <button class="submitter" ng-click="m.write(something, $close)">Send</button>
        <button ng-click="$dismiss('cancel')">Cancel</button>
    </form>
</div>